body {
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:aliceblue;
}
#root{
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navigator {
  width: 800px;
  margin: auto auto 0;
  padding-bottom: 0;
}

.main {
  width: 80%;
  margin: auto auto auto auto;
  height: 80%;
}
.link-top{
  width: 50%;
  height: 1px;
  border-top:solid white 2px;
  margin: auto auto 4px auto;
}